/*General changes to css*/
/*1. ids are used to increase readability and simplify the selectors of the components.*/
/*2. Attributes are reorganized. For example, "color" is put in the body as the text-colors are the same for most of the components.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    color: #ffffff;
}

/*css for the component of header*/
/*No longer need the "list-style-type" as <ul> is not used.*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

#company-name {
    font-size: 48px;
    display: inline-block;
}

#company-name-middle {
    color: #d9dcd6;
}

#link-container {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

a {
    text-decoration: none;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

/*css of the hero image*/
/*1. The css is changed as the url of the hero-image is not put in the "background-image" anymore.*/
/*2. "object-fit" replaces the "background-size" and "background-position" */
#hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}

/*css of the service column*/
#service-col {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.service-article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    font-size: 16px;
}
/*float-left and float-right are integrated into others to further simplified the css*/
.service-article img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

#online-reputation-management img {
    float: right;
    margin-right: 0;
    margin-left: 25px;
}

.service-article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*css of the benefit column*/
#benefit-col {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    background-color: #2589bd;
}

.benefit-article {
    margin-bottom: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.benefit-article h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*css for footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #000000;
}

footer h2 {
    font-size: 20px;
}
